.spinner {
  $size: 5rem;
  $color: rgba(0, 0, 0, 0.3);

  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;

  .spinwheel {
    width: $size;
    height: $size;
  }
  .spinwheel:after {
    content: ' ';
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 7px solid $color;
    border-color: $color transparent $color transparent;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
